*{
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
}

.wrap{
	padding: 0 15rem 0 15rem;
	max-width: 1200rem;
	margin: auto;
	position: relative;
}

html{
	&.js-lock{
		overflow: hidden;
	}
}

html, body{
	
	font-size: 1px; // 1rem = 1px 

	@include max-screen($small_desktop) {
		font-size: 0.85px;
	}

}
body{
	position: relative;	
	font-family: 'Roboto Mono', sans-serif;
	background: #02213D;
	color: #fff;
	&.js-lock{
		overflow: hidden;
	}
}
input {
    -webkit-appearance: none;
}

main{
	display: block;
}

a{
	text-decoration-skip-ink: none;
	text-decoration: none;
}
a, buuton, input, textarea, .icon {
	transition: all 0.15s ease-in-out;
}
.inline{
	font-size: 0;

	&>*{
		display: inline-block;
		vertical-align: middle;
	}
}

.clear{
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	&__left{
		float: left;
	}
	&__right{
		float: right;
	}
}


.flex{
	display: flex;
	flex-wrap: wrap;

	&_center{
		justify-content: center;
	}
	
	&_end{
		justify-content: flex-end;
	}

	&_inline{
		display: inline-flex;
	}

	&_justify{
		justify-content: space-between;
	}

	&_start{
		align-items: flex-start;
	}

	&_vertical{
		align-items: center;
	}
}

.css-text-left{
	text-align: left;
}

.css-text-center{
	text-align: center;
}

.css-text-right{
	text-align: right;
}

.color-blue {
	color: #1871B7;
}

.row{
	display: table;
	width: 100%;

	&_fixed{
		table-layout: fixed;
	}

	&>*{
		display: table-cell;
		vertical-align: top;
	}

}

.fit-by-content{
	white-space: nowrap;
	width: 1%;
}

img, svg{
	vertical-align: top;
	max-width: 100%;
}

.object-fit{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.css-scrollbar{
	/* width */
	&::-webkit-scrollbar {
		width: 6px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #eaebef;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #eff; 
	}

	/* Handle on hover */
	// &::-webkit-scrollbar-thumb:hover {
	// 	background: #555; 
	// }	
}

.color-blue {
	color: $blue;
}

.fullpage {
	min-height: 100vh;
	display: flex;
    flex-direction: column;	
    overflow: hidden;
	font-size: 18rem;
	letter-spacing: 0.07em;
    
	&__top {
		flex: 0 0 auto;
	}

    &__center {
		flex-wrap: wrap;
		display: flex;
		align-items: center;
		flex: 1 0 auto;
	}

	&__bottom{
		flex: 0 0 auto;
	}
	@include max-screen(740px) {
		&__center {
			padding-top: 80rem;
		}
	}
}
