extends ../layouts/base

append vars
	- title = 'Главная'

block content
	include ../layouts/preloader
	img.page-bg(src="app/img/main__cube.svg")
	.page-slider.swiper-container
		.swiper-wrapper
			.swiper-slide#main
				include ../layouts/main
			.swiper-slide#about
				include ../layouts/main
			.swiper-slide#portfolio
				include ../layouts/main
			.swiper-slide#blog
				include ../layouts/main
			.swiper-slide#contact
				include ../layouts/main