+b.blog
	+e.wrap.wrap
		+e.H2.title.h1
			span.color-blue Блог 
			| о веб-разработке
		+e.slider.swiper-container
			+e.slider-wrapper.swiper-wrapper
				+e.slide.swiper-slide
					+e.item.A(href="post.html")
						img(src="/img/news__thumb1.jpg")
						+e.info
							+e.info-title.color-blue CSS-препроцессоры против CSS1
							+e.desc
								| Не баттл, а унижение текст текст текст текст ...
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
				+e.slide.swiper-slide
					+e.item.A(href="post.html")
						img(src="/img/news__thumb2.jpg")
						+e.info
							+e.info-title.color-blue Типографика в UI kit2
							+e.desc
								| Что нужно знать веб-дизайнеру текст текст текст текст ...
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
				+e.slide.swiper-slide
					+e.item.A(href="post.html")
						img(src="/img/news__thumb1.jpg")
						+e.info
							+e.info-title.color-blue CSS-препроцессоры против CSS3
							+e.desc
								| Не баттл, а унижение текст текст текст текст ...
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
				+e.slide.swiper-slide
					+e.item.A(href="post.html")
						img(src="/img/news__thumb2.jpg")
						+e.info
							+e.info-title.color-blue Типографика в UI kit4
							+e.desc
								| Что нужно знать веб-дизайнеру текст текст текст текст ...
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
				+e.slide.swiper-slide
					+e.item.A(href="post.html")
						img(src="/img/news__thumb1.jpg")
						+e.info
							+e.info-title.color-blue CSS-препроцессоры против CSS5
							+e.desc
								| Не баттл, а унижение текст текст текст текст ...
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
				+e.slide.swiper-slide
					+e.item.A(href="post.html")
						img(src="/img/news__thumb2.jpg")
						+e.info
							+e.info-title.color-blue Типографика в UI kit6
							+e.desc
								| Что нужно знать веб-дизайнеру текст текст текст текст ...
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
		+e.nav.flex._vertical._center
			+e.arrow._prev
				+icon('prev','0 0 9 16')
			+e.pagin
			+e.arrow._next
				+icon('next','0 0 9 16')
		// - +e.list.flex
			+e.column
				+e.item.A(href="case.html")
					img(src="/img/portfolio__img1.jpg")
					+e.info
						+e.info-wrap
							+e.name.color-blue Интернет-магазин
							+e.desc
								| TTFY - одежда для фитнеса
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
			+e.column
				+e.item.A(href="case.html")
					img(src="/img/portfolio__img2.jpg")
					+e.info
						+e.info-wrap
							+e.name.color-blue HTML верстка
							+e.desc
								| informUnity - агенство по внедрению Bitrix24 для бизнеса
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
			+e.column
				+e.item.A(href="case.html")
					img(src="/img/portfolio__img1.jpg")
					+e.info
						+e.info-wrap
							+e.name.color-blue Интернет-магазин
							+e.desc
								| SUNDAY - продажа солнцезащитных систем
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
			+e.column
				+e.item.A(href="case.html")
					img(src="/img/portfolio__img2.jpg")
					+e.info
						+e.info-wrap
							+e.name.color-blue Landing Page
							+e.desc
								| Ridebook - акция для водителей Uber и Lyft
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
		+e.bottom