+b.category
	+e.wrap.wrap
		+e.H2.title.h1
			span.color-blue 
				| Наши 
			| направления
		+e.list.flex
			+e.item
				+e.H3.item-title
					| ИНТЕРНЕТ МАГАЗИН
				+e.icon
					+icon('shop','0 0 484.564 484.564')
			+e.item
				+e.H3.item-title
					| LANDING PAGE
				+e.icon
					+icon('landing-page','0 0 512 512')
			+e.item
				+e.H3.item-title
					| САЙТ ВИЗИТКА
				+e.icon
					+icon('business-card','0 0 508 508')
			+e.item
				+e.H3.item-title
					| WEB Дизайн
				+e.icon
					+icon('design','0 0 512 512')
			+e.item
				+e.H3.item-title
					| CMS(системы управления сайтом)
				+e.icon
					+icon('cms','0 0 512 512')
			+e.item
				+e.H3.item-title
					| Аналитика, 
					br
					| проектирование
				+e.icon
					+icon('analisys','0 0 512 512')
			+e.item
				+e.H3.item-title
					| Рерайт/копирайт
				+e.icon
					+icon('copyright','0 0 480 480')
			+e.item
				+e.H3.item-title
					| HTML верстка, 
					br
					| написание скриптов
				+e.icon
					+icon('code','0 -25 424 424')