+b.FOOTER.footer
	+e.wrap.wrap.flex._vertical._justify
		+e.left
			+e.pagin.pagin
			+e.text
				| Связаться с нами:
		+e.right
			+e.social.flex_vertical.social__
				+e.A.link(href="viber://add?number=380988481269", target="_blank")
					+e.icon
						+icon('viber','0 0 192 210.0428')
				+e.A.link(href="tg://resolve?domain=w3bcube", target="_blank")
					+e.icon
						+icon('telegram','0 0 512 512')
				+e.A.link(href="https://wa.me/380987378427", target="_blank")
					+e.icon
						+icon('whatsapp','0 0 90 90')
				+e.A.link(href="https://m.me/misha.oboronov", target="_blank")
					+e.icon
						+icon('fb','0 0 512 512')
				+e.A.link(href="skype:web-cube1", target="_blank")
					+e.icon
						+icon('skype','0 0 512 512')