+b.main
	+e.wrap.wrap
		+e.row.flex._justify._vertical
			+e.left
				+e.H1.title.color-blue.h1
					| WE3CUBE STUDIO
				+e.desc
					p
						| Создание сайта под ключ.
					p
						| Доработка текущего сайта с любого этапа.
				+e.bottom.flex
					+e.A.btn.btn._fill.btn__.js-to-screen(href="#about")
						+e.back.js-circles.SPAN
						+e.text Все услуги
					+e.A.btn.btn._stroke.btn__.js-to-screen(href="#portfolio")
						+e.back.js-circles.SPAN
						+e.text Наши проекты
			+e.right
				+e.IMG.img(src="app/img/undraw_static_assets_rpm6.svg")