+b.modals.mfp-hide#thank
	+e.IMG.icon(src="/app/img/undraw_completed.svg")
	+e.content
		+e.title.h1.color-blue Спасибо!
		+e.desc.p
			| Ваша заявка отправлена.
			br
			| В ближайшее время мы с вами свяжемся.