+b.portfolio
	+e.wrap.wrap
		+e.H2.title.h1
			| Реализованные 
			span.color-blue проекты
		//- +e.tag-list.flex.tag-list__
			+e.item.tag(data-slide=".all") Все
			+e.item.tag(data-slide=".shop") Интернет магазин
			+e.item.tag(data-slide=".landing") Landing Page
			+e.item.tag(data-slide=".html") HTML верстка
			+e.item.tag(data-slide=".design") Design
		+e.slider.swiper-container
			+e.slider-wrapper.swiper-wrapper
				+e.slide.shop.swiper-slide
					+e.item.shop.A(href="case.html")
						img(src="/img/portfolio__img1.jpg")
						+e.info
							+e.info-wrap
								+e.name.color-blue Интернет-магазин
								+e.desc
									| TTFY - одежда для фитнеса
								+e.info-btn.btn._fill.btn__
									+e.back.js-circles.SPAN
									+e.text Подробнее
				+e.slide.html.swiper-slide
					+e.item.html.A(href="case.html")
						img(src="/img/portfolio__img2.jpg")
						+e.info
							+e.info-wrap
								+e.name.color-blue HTML верстка
								+e.desc
									| informUnity - агенство по внедрению Bitrix24 для бизнеса
								+e.info-btn.btn._fill.btn__
									+e.back.js-circles.SPAN
									+e.text Подробнее
				+e.slide.shop.swiper-slide
					+e.item.shop.A(href="case.html")
						img(src="/img/portfolio__img1.jpg")
						+e.info
							+e.info-wrap
								+e.name.color-blue Интернет-магазин
								+e.desc
									| SUNDAY - продажа солнцезащитных систем
								+e.info-btn.btn._fill.btn__
									+e.back.js-circles.SPAN
									+e.text Подробнее
				+e.slide.landing.swiper-slide
					+e.item.landing.A(href="case.html")
						img(src="/img/portfolio__img2.jpg")
						+e.info
							+e.info-wrap
								+e.name.color-blue Landing Page
								+e.desc
									| Ridebook - акция для водителей Uber и Lyft
								+e.info-btn.btn._fill.btn__
									+e.back.js-circles.SPAN
									+e.text Подробнее
				+e.slide.shop.swiper-slide
					+e.item.shop.A(href="case.html")
						img(src="/img/portfolio__img1.jpg")
						+e.info
							+e.info-wrap
								+e.name.color-blue Интернет-магазин
								+e.desc
									| TTFY - одежда для фитнеса
								+e.info-btn.btn._fill.btn__
									+e.back.js-circles.SPAN
									+e.text Подробнее
				+e.slide.design.swiper-slide
					+e.item.design.A(href="case.html")
						img(src="/img/portfolio__img2.jpg")
						+e.info
							+e.info-wrap
								+e.name.color-blue HTML верстка
								+e.desc
									| informUnity - агенство по внедрению Bitrix24 для бизнеса
								+e.info-btn.btn._fill.btn__
									+e.back.js-circles.SPAN
									+e.text Подробнее
				+e.slide.design.swiper-slide
					+e.item.design.A(href="case.html")
						img(src="/img/portfolio__img2.jpg")
						+e.info
							+e.info-wrap
								+e.name.color-blue Интернет-магазин
								+e.desc
									| SUNDAY - продажа солнцезащитных систем
								+e.info-btn.btn._fill.btn__
									+e.back.js-circles.SPAN
									+e.text Подробнее
				+e.slide.landing.swiper-slide
					+e.item.landing.A(href="case.html")
						img(src="/img/portfolio__img2.jpg")
						+e.info
							+e.info-wrap
								+e.name.color-blue Landing Page
								+e.desc
									| Ridebook - акция для водителей Uber и Lyft
								+e.info-btn.btn._fill.btn__
									+e.back.js-circles.SPAN
									+e.text Подробнее
		+e.nav.flex._vertical._center
			+e.arrow._prev
				+icon('prev','0 0 9 16')
			+e.pagin
			+e.arrow._next
				+icon('next','0 0 9 16')
		// - +e.list.flex
			+e.column
				+e.item.A(href="case.html")
					img(src="/img/portfolio__img1.jpg")
					+e.info
						+e.info-wrap
							+e.name.color-blue Интернет-магазин
							+e.desc
								| TTFY - одежда для фитнеса
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
			+e.column
				+e.item.A(href="case.html")
					img(src="/img/portfolio__img2.jpg")
					+e.info
						+e.info-wrap
							+e.name.color-blue HTML верстка
							+e.desc
								| informUnity - агенство по внедрению Bitrix24 для бизнеса
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
			+e.column
				+e.item.A(href="case.html")
					img(src="/img/portfolio__img1.jpg")
					+e.info
						+e.info-wrap
							+e.name.color-blue Интернет-магазин
							+e.desc
								| SUNDAY - продажа солнцезащитных систем
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
			+e.column
				+e.item.A(href="case.html")
					img(src="/img/portfolio__img2.jpg")
					+e.info
						+e.info-wrap
							+e.name.color-blue Landing Page
							+e.desc
								| Ridebook - акция для водителей Uber и Lyft
							+e.info-btn.btn._fill.btn__
								+e.back.js-circles.SPAN
								+e.text Подробнее
		+e.bottom