
.mfp-bg{
	background-color: rgb(0, 0, 0);
	opacity: 0.502;	
}

.mfp-wrap {
	overflow-x: hidden;
	overflow-y: auto !important;
}

.modals{
	position: relative;
	margin: auto;
	width: 100%;
	padding: 50rem;
	max-width: 800rem;
	display: flex;
	align-items: center;
	background-color: #02213D;
	color: #fff;
	cursor: auto!important;	
	font-size: 18rem;
	&__close{
		position: absolute;
		right: 30rem;
		top: 30rem;
		width: 50rem;
		height: 50rem;
		stroke: #fff;
		stroke-width: 2;
		cursor: pointer;
	}
	&__icon {
		width: 300rem;
		margin-right: 50rem;
	}
	&__title {
		margin-bottom: 25rem;
	}
}
.mfp-bg{
	opacity: 0;
	transition: all .5s ease; 
	


	&.mfp-ready{
		opacity: 0.502;	
	}

	&.mfp-removing{
		opacity: 0;
	}
}

.css-modal-animate{
	// start state
	
	overflow: hidden;

	.modals, .mfp-figure{
		transition: all .5s ease; 
		opacity: 0;
		transform: translateY(30px);
	}

	// animate in
	&.mfp-ready{
		.modals, .mfp-figure{
			transform: translate(0, 0);
			opacity: 1;
		}
	}

	// animate out
	&.mfp-removing{	
		.modals, .mfp-figure{
			opacity: 0;
		}
	}

}
@include max-screen($large_mobile) {
	.modals {
		display: block;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		&__icon {
			width: 250rem;
			margin-right: 0;
			margin-bottom: 25px;
		}
		&__title {
			margin-bottom: 15px;
		}
		&__close {
			right: 15px;
			top: 15px;
		}
	}
}