.footer {
	padding: 30rem 0 30rem 0;
	margin-top: 50rem;
	&__text {
		font-size: 16px;
		display: none;
		margin-bottom: 12px;
	}
	&__copyright {
		font-size: 12px;
		font-weight: 300;
		text-transform: uppercase;
		&-icon {
			font-size: 17px;
		}
	}
}

@include max-screen(740px) {
	.footer {
		background: #000;
		&__wrap {
			justify-content: center;
		}
		&__text {
			display: block;
		}
		&__left, &__right {
			width: 100%;
			text-align: center;
		}
		&__social {
			justify-content: center;
		}
		&_page {
			.footer__left {
				order: 2;
				margin-top: 15px;
			}
		}
	}
}

@include max-screen($large_mobile) {
	.footer {
		&__text {
			margin-bottom: 12px;
			margin-right: 0;
		}
	}
}