.main {
	width: 100%;
	&__desc {
		margin-top: 20rem;
		font-size: 22rem;
		line-height: 26rem;
		font-weight: 300;
	}
	&__bottom {
		margin-top: 40rem;
	}
	&__btn {
		&:not(:last-child) {
			margin-right: 30rem;
		}
	}
	&__left {
		width: 50%;
	}
	&__right {
		width: 48%;
	}
}

@include max-screen(740px) {
	.main {
		padding-top: 40px;
	}
}

@include max-screen($large_mobile) {
	.main {
		&__desc {
			font-size: 16rem;
			line-height: 23rem;
			p {
				br {
					display: none;
				}
			}
		}
		&__btn {
			&:not(:last-child) {
				margin-right: 20rem;
			}
		}
		&__bottom {
			margin-top: 25rem;
		}
		&__left, &__right {
			width: 100%;
		}
		&__row {
			position: relative;
			padding-bottom: 60px;
		}
		&__bottom {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}
}